html, body 
{ 
  margin:40; 
  padding:0; 
  overflow:hidden 
}

svg 
{ 
  position:fixed; 
  left:0; 
  z-index: -1;
  height:100%; 
  width:100% 
}

circle {
  fill: #FFF;
  stroke: #000;
  strokeWidth = 1;
  pointer-events: all;
}

circle:hover {
  stroke: #33AAFF;
  stroke-width: 2px;
}
